@font-face {
  font-family: "Brawler";
  src: local("☺"),
    url("/fonts/Brawler.otf") format("opentype");
  }

@font-face {
  font-family: "Linux Libertine";
  src: local("☺"),
    url("/fonts/LinLibertine_R.woff") format("woff");
  }

@font-face {
  font-family: "Linux Libertine";
  src: local("☺"),
    url("/fonts/LinLibertine_RB.woff") format("woff");
    font-weight: bold;
  }

@font-face {
  font-family: "Linux Libertine";
  src: local("☺"),
    url("/fonts/LinLibertine_RBI.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }

@font-face {
  font-family: "Linux Libertine";
  src: local("☺"),
    url("/fonts/LinLibertine_RI.woff") format("woff");
    font-style: italic;
  }

html,
body {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  /* font-family: Linux Libertine, serif; */
  font-weight: 300;
  rgb(74, 74, 74);
  font-size: 17px;
  text-rendering: optimizeLegibility;
  /* text-rendering: geometricPrecision */
  line-height: 1.5em;
  }

/* h1, h2, h3, h4, h5 {
  font-family: Linux Libertine, serif;
} */

.imagecenter  {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  background-color: #D8D8D8;
  line-height: 1.3em;
}

.imageleft  {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  float: left;
  margin-right: 20px;
  line-height: 1.3em;
}

.imageright  {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  float: right;
  margin-left: 20px;
  line-height: 1.3em;
}

#content a:not(.nolinkicon)  {
    padding-right: 12px;
    background: transparent url(/images/site/link.png) no-repeat center right;
}

footer a:not(.nolinkicon) {
    padding-right: 12px;
    background: transparent url(/images/site/link.png) no-repeat center right;

}

footer {
 font-size: 0.7em;
}
/* #content a.reversefootnote {
    background: none;
    padding-right: none;
}  */


#readingtime {
  font-size: 0.7em;
}

.printbutton{
  font-size: inherit;
  float: right;

  width: 400px;
  margin-bottom: 20px;
}

blockquote {
    font-size: inherit;
}

.navbar-form .form-control {
  width: 100px;
}


.with-transition:focus {
  width: 300px;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: initial;
  transition-timing-function: ease-in-out;
}

@media print {
  nav {
    display: none;
  }
  .breadcrumb {
    display: none;
  }
  #readingtime {
    display: none;
  }
  .hideinprint {
    display: none;
  }
}

@media screen {
  .printsource {
    display: none;
  }
}