AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript

<FilesMatch "\.(php|cgi|pl)$">
ExpiresActive Off
Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
</FilesMatch>

<FilesMatch "\.(gif|flv|jpg|jpeg|png|gif|swf)$">
        FileETag -INode MTime Size
         # if you use ETags, you should unset Last-Modified
        Header unset Last-Modified
        Header set Cache-Control "max-age=86400, public, must-revalidate"
        Header set Expires "Sun, 31 Dec 2017 20:00:00 GMT"
    </FilesMatch>

    <FilesMatch "\.(htm|html|php)$">
        FileETag None
        Header set Cache-Control "max-age=86400, public, must-revalidate"
    </FilesMatch>

    <FilesMatch "\.(js|css)$">
        FileETag None
        Header set Cache-Control "max-age=604800, public, must-revalidate"
        Header set Expires "Sun, 31 Dec 2017 20:00:00 GMT"
    </FilesMatch>

# HTTP(S) Stuff
# Redirect all users except IE 5-8 & Android < 4 to HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteCond %{HTTP_USER_AGENT} !MSIE\ [5-8]
RewriteCond %{HTTP_USER_AGENT} !Android.*(Mobile)?\ [0-3]
RewriteRule (.*)  https://%{HTTP_HOST}/$1   [L]

