{% include head.html %}

<body>

{% include navbar.html %}



    <!-- Page Content -->
    <div class="container">


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ page.title }}
                    {% if subtitle %}<small>{{ page.title }}</small>{% endif %}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index.html">Home</a>
                    </li>
                    <li class="active">{{ page.title }}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->


        <div id="content">
            <div class="row" id="readingtime">
                <div class="col-xs-6 col-xs-offset-6">
                    {% if page.readingtime != false or !page.noreadingtime %}
                    <div class="pull-right text-muted"><i class="fa fa-fw fa-clock-o"></i> Durchschnittliche Lesezeit: {{ page.content | reading_time }}<br/>
                        {% endif %}
                        <button class="btn btn-default btn-xs pull-right text-muted printbutton" onClick="window.print()"><div class="text-muted"><i class="fa fa-fw fa-print"></i>Diese Seite drucken</div></button>

                    </div>
                </div>
            </div>
        {{ content }}
        </div>


        {% comment %}
        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>
        {% endcomment %}

        {% if page.nolicense != true %}

        <!-- Footer -->
        <footer>
            <hr/>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a> Dieses Werk von <a xmlns:cc="http://creativecommons.org/ns#" href="http://werstener-biene.de" property="cc:attributionName" rel="cc:attributionURL">Christoph Kania</a> ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0) Lizenz</a>.</p>
                </div>
            </div>
            <hr/>
        </footer>
        {% endif %}
{% include footer.html %}